<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="right.css">
    <link rel="stylesheet" href="box.css">
    <link rel="stylesheet" href="bar3-chart-gpt.css">
    <title>Job</title>
</head>
<body>
    <header>
        <div class="navbar">
            <nav>
                <ul class="menu">
                    <li class="logo">
                        <!-- change the name of logo according to your name of image (mani/vengu) -->
                        <a href="#"><img src="p2.png" alt="Placeme Logo" style="height: 30px;"></a>
                    </li>
                    <div class="item">
                        
                    
                        <li ><a href="{% url 'job_seeker:home' %}"><i class="fa-solid fa-house"></i>Home</a></li>
                    </div>
                    <div class="item">
                        
                    
                        <li><a href="{% url 'job_seeker:job' %}"><i class="fa-solid fa-briefcase"></i>Jobs</a></li>
                    </div>
                    <div class="item">
                        <li><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-bell"></i>Notifications</a></li>
                    </div>
                    
                    <li class="item button"><a href="{% url 'job_seeker:profile' %}"><i class="fa-solid fa-user"></i> 
                      Profile</a></li>
                    <li class="toggle" id="menu-toggle"><span class="bars"></span></li>
                    <li class="item button"><a href="{% url 'auth:login' %}">Log In</a></li>
                    <li class="item">
                        <select name="Usertypes" onchange="location = this.value;">
                            <option value="{% url 'job_seeker:home' %}">Job Seeker</option>
                            <option value="{% url 'recruiters:home' %}">Recruiter</option>
                            <option value="{% url 'administrator:dashboard' %}">Administrator</option>
                            <option value="{% url 'refer_and_earn:home' %}">Refer and earn</option>
                        </select> 
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
        <!--sub nav bar list-->
        
            <div class="all-menu">
                <ul class="menu-item">
                    <li class="save"><a>Saved(3)</a></li>
                    <li class="applied"><a>Applied(3)</a></li>
                    <li class="offer"><a>My Offers(0)</a></li>
                </ul>
            </div>
        
        <section class="dev-list">


            <div class="left">

                <!--box 1 dev-info-left-->
                <div class="first-box">
                    <div class="dev-detail-2">

                        <div class="dev-detail-2-inside">
                    
                            <h1 class="dev-name">JUNIOR DEVELOPER</h1>
                            <p class="company-name">Kavery technologes</p>
                            <div class="application">
                                <i class="fa-sharp fa-solid fa-circle-check"></i>
                                <p class="application-saved">Application save</p>
                            </div>
                        </div>
                        <div class="dev-box2">
                            <div class="dev-box2-profile">

                            </div>
                            <div class="dev-box2-a">
                                <a class="view-status" href="#">View Status</a>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>

                <!--box2-dev-info-left-->
                <div class="dev-detail-1">

                    <div class="dev-detail-1-inside">
                    
                        <h1 class="dev-name">JUNIOR DEVELOPER</h1>
                        <p class="company-name">Kavery technologes</p>
                        <div class="application">
                            <i class="fa-sharp fa-solid fa-circle-check"></i>
                            <p >Application save</p>
                        </div>
                    </div>
                    <div class="dev-box1">
                        
                    </div>
                </div>
                <!--box3-dev-info-left-->
                <div class="dev-detail-1">

                    <div class="dev-detail-1-inside">
                    
                        <h1 class="dev-name">JUNIOR DEVELOPER</h1>
                        <p class="company-name">Kavery technologes</p>
                        <div class="application">
                            <i class="fa-sharp fa-solid fa-circle-check"></i>
                            <p >Application save</p>
                        </div>
                    </div>
                    <div class="dev-box1">
                        <div class="dev-box2-profile">

                        </div>
                        <div class="dev-box2-a">
                            <a class="view-status" href="#">View Status</a>
                        </div>
                    </div>
                </div>
                <!--box4-dev-info-left-->
                <div class="dev-detail-1">

                    <div class="dev-detail-1-inside">
                    
                        <h1 class="dev-name">JUNIOR DEVELOPER</h1>
                        <p class="company-name">Kavery technologes</p>
                        <div class="application">
                            <i class="fa-sharp fa-solid fa-circle-check"></i>
                            <p >Application save</p>
                        </div>
                    </div>
                    <div class="dev-box1">
                        <div class="dev-box2-profile">

                        </div>
                        <div class="dev-box2-a">
                            <a class="view-status" href="#">View Status</a>
                        </div>
                    </div>
                </div>
                <!--box5-dev-info-left-->
                <div class="dev-detail-1">

                    <div class="dev-detail-1-inside">
                    
                        <h1 class="dev-name">JUNIOR DEVELOPER</h1>
                        <p class="company-name">Kavery technologes</p>
                        <div class="application">
                            <i class="fa-sharp fa-solid fa-circle-check"></i>
                            <p >Application save</p>
                        </div>
                    </div>
                    <div class="dev-box1">
                        <div class="dev-box2-profile">

                        </div>
                        <div class="dev-box2-a">
                            <a class="view-status" href="#">View Status</a>
                        </div>
                    </div>
                </div>
                <!--box6-dev-info-left-->
                <div class="dev-detail-1">

                    <div class="dev-detail-1-inside">
                    
                        <h1 class="dev-name">JUNIOR DEVELOPER</h1>
                        <p class="company-name">Kavery technologes</p>
                        <div class="application">
                            <i class="fa-sharp fa-solid fa-circle-check"></i>
                            <p >Application save</p>
                        </div>
                    </div>
                    <div class="dev-box1">
                        <div class="dev-box2-profile">

                        </div>
                        <div class="dev-box2-a">
                            <a class="view-status" href="#">View Status</a>
                        </div>
                    </div>
                </div>
                <!--box7-dev-info-left-->
                <div class="dev-detail-1">

                    <div class="dev-detail-1-inside">
                    
                        <h1 class="dev-name">JUNIOR DEVELOPER</h1>
                        <p class="company-name">Kavery technologes</p>
                        <div class="application">
                            <i class="fa-sharp fa-solid fa-circle-check"></i>
                            <p >Application save</p>
                        </div>
                    </div>
                    <div class="dev-box1">
                        <div class="dev-box2-profile">

                        </div>
                        <div class="dev-box2-a">
                            <a class="view-status" href="#">View Status</a>
                        </div>
                    </div>
                </div>
                <!--box8-dev-info-left-->
                <div class="dev-detail-1">

                    <div class="dev-detail-1-inside">
                    
                        <h1 class="dev-name">JUNIOR DEVELOPER</h1>
                        <p class="company-name">Kavery technologes</p>
                        <div class="application">
                            <i class="fa-sharp fa-solid fa-circle-check"></i>
                            <p >Application save</p>
                        </div>
                    </div>
                    <div class="dev-box1">
                        <div class="dev-box2-profile">

                        </div>
                        <div class="dev-box2-a">
                            <a class="view-status" href="#">View Status</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            

<!-----------right side dev-info------------------------------------------------------------------->
            <div class="right">




                <div class="right-insert">


                    <div class="right-dev-info">


                        <div class="right-dev-info-fixed-1">

                            <!--dev-name-company-and about-job-->
                            <div class="right-dev-info-fixed-1-1">

                                <div class="right-dev-info-fixed-1-part1">

                                    <h1 class="right-fixied-name">JUNIOR DEVELOPER</h1>
                                    <p class="right-fixied-company">Kavery technologes</p>
                                
                                    <div class="right-a-div">
                                        <a href="#" class="right-a">
                                            View similar jobs
                                        </a>
                                    </div>
                                </div>
                                <div class="right-dev-info-fixed-1-part2">
                                   <div class="right-dev-info-about-job">
                                        <a class="a-aboutjob">About job</a>
                                   </div> 
                                </div>  
                            </div>





                            <!-----fixed-box-2-->
                            <div class="right-dev-info-fixed-1-2">
                                <div class="application-div-text">
                                    <p class="application-status-p">Application Status</p>
                                </div>
                            </div>

                            <!---pending status-bar-->
                            <div class="bar-set">
                                <div class="progress-track">
                                    <ul id="progressbar">
                                        <li class="step0 active " id="step1">Job Applied <p>12 Feb 24</p></li>
                                        <li class="step0 active text-center" id="step2">Application View <p>24 feb 24</p></li>
                                        <li class="step0 active text-center" id="step2-1">Short List<p>26 Feb 24</p></li>
                                        <li class="step0 active text-right" id="step3"><span id="three">Interview<p>27 Feb 24</p></span></li>
                                        <li class="step0 text-right" id="step4">Delivered</li>
                                    </ul>
                                </div>
                            </div> 
                        </div>
                        <!--completed fixed right box-->
                        <!--recommendation box text-->
                        <div class="right-recommdation-info">
                            <div class="right-recommendation-div">
                                <h1 class="right-recommdation-text">RECOMMENDED JOBS</h1>
                             </div>
                             <!--create recommendation box start-->
                             <div class="right-rec-box-scroll">

                                <div class="right-rec-box-1">

                                    <div class="right-rec-box-width">
                                        
                                        <div class="right-rec-box-name">

                                            <div class="right-rec-box-name-1">
                                                <p class="right-rec-box-dev-name">JUNIOR DEVELOPER</p>
                                                <p class="right-rec-box-dev-company">KAVERY TECH</p>
                                            </div>
                                            <div class="right-rec-box-photo">
                                                <div class="photo">

                                                </div>
                                            </div>
                                        </div>
                                        <!--dev info box-2 location skill and page-->
                                        <div class="right-rec-box-info">
                                            <div class="right-rec-box-info-personal">
                                                <ul class="right-box-ul">
                                                    <li><i class="fa-sharp fa-solid fa-location-dot"></i> Bangalore </li>
                                                    <li>|</li>
                                                    <li><i class="fa-solid fa-suitcase"></i> 0-2 Years  </li>
                                                    <li>|</li>
                                                    <li><i class="fa-solid fa-clock"></i> Full Time </li>
                                                    <li>|</li>
                                                    <li> RS 30000/month</li>
                                                </ul>
                                            </div>


                                            <div class="right-rec-box-info-language">
                                                <ul class="right-box-ul-lag">
                                                    <li>html</li>
                                                    <li>css</li>
                                                    <li>javaScript</li>
                                                    <li>React.js</li>
                                                    <li>node.js</li>
                                                    
                                                </ul>
                                            </div>





                                            <div class="right-rec-box-info-text">
                                                <p class="right-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eligendi maiores porro laudantium nostrum ab explicabo sapiente.</p>

                                            </div>






                                            
                                        </div>

                                         <div class="right-rec-box-info-adv">
                                            <ul class="right-rec-box-adv-ul">
                                                <li>4 days ago</li>
                                                <li>30 opening</li>
                                                <li>10 Applied</li>
                                            </ul>
                                        </div> 






                                    </div>
                                    


                                </div>





                                <!--box-2-->
                                <div class="right-rec-box-1">

                                    <div class="right-rec-box-width">
                                        
                                        <div class="right-rec-box-name">

                                            <div class="right-rec-box-name-1">
                                                <p class="right-rec-box-dev-name">JUNIOR DEVELOPER</p>
                                                <p class="right-rec-box-dev-company">KAVERY TECH</p>
                                            </div>
                                            <div class="right-rec-box-photo">
                                                <div class="photo">

                                                </div>
                                            </div>
                                        </div>
                                        <!--dev info box-2 location skill and page-->
                                        <div class="right-rec-box-info">
                                            <div class="right-rec-box-info-personal">
                                                <ul class="right-box-ul">
                                                    <li><i class="fa-sharp fa-solid fa-location-dot"></i> Bangalore </li>
                                                    <li>|</li>
                                                    <li><i class="fa-solid fa-suitcase"></i> 0-2 Years  </li>
                                                    <li>|</li>
                                                    <li><i class="fa-solid fa-clock"></i> Full Time </li>
                                                    <li>|</li>
                                                    <li> RS 30000/month</li>
                                                </ul>
                                            </div>


                                            <div class="right-rec-box-info-language">
                                                <ul class="right-box-ul-lag">
                                                    <li>html</li>
                                                    <li>css</li>
                                                    <li>javaScript</li>
                                                    <li>React.js</li>
                                                    <li>node.js</li>
                                                    
                                                </ul>
                                            </div>





                                            <div class="right-rec-box-info-text">
                                                <p class="right-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eligendi maiores porro laudantium nostrum ab explicabo sapiente.</p>

                                            </div>






                                            
                                        </div>

                                         <div class="right-rec-box-info-adv">
                                            <ul class="right-rec-box-adv-ul">
                                                <li>4 days ago</li>
                                                <li>30 opening</li>
                                                <li>10 Applied</li>
                                            </ul>
                                        </div> 






                                    </div>
                                    


                                </div>




























                             </div>

                        </div>

                    </div>



                </div>
                

            </div>
        </section>

    
    
</body>
</html>